---
import { Icon } from "astro-icon/components";
import { gestes, Type } from "../../data/gestes";
import { Tags, TagsFilter } from "../Tags";

const tags = gestes.map((gestes) => gestes.tags).flat();

const icon = (type: Type) => {
    switch (type) {
        case Type.murs:
            return "murs";
        case Type.planchers_bas:
            return "plancher-bas";
        case Type.planchers_hauts:
            return "plancher-haut";
        case Type.baies:
            return "baie";
        case Type.portes:
            return "porte";
        case Type.chauffage:
            return "chauffage";
        case Type.ecs:
            return "ecs";
        case Type.ventilation:
            return "ventilation";
        case Type.refroidissement:
            return "refroidissement";
    }
};
---

<div class="grid grid-flow-row-dense gap">
    <Tags name="gestes" tags={tags} />

    <div class="gestes md:flex flex-wrap items-stretch gap">
        {
            gestes.map((item) => (
                <TagsFilter name="gestes" tags={item.tags}>
                    <div class="geste w-full md:w-[220px] border border-color border-3 p-4 grid grid-flow-row-dense gap-4 bg-white rounded-md">
                        <div class="geste-icon">
                            <Icon
                                class="m-auto"
                                name={icon(item.type)}
                                width={58}
                                height={58}
                            />
                        </div>

                        <div class="geste-content text-center">
                            <div class="font-semibold mb-4">{item.titre}</div>
                            {item.description.split("\n").map((line) => (
                                <p>{line}</p>
                            ))}
                        </div>

                        <div class="geste-actions flex justify-between items-center">
                            <Icon
                                name="circle-check"
                                class="color-success"
                                width={28}
                                height={28}
                            />
                            <Icon
                                name="cancel"
                                class="color-error"
                                width={28}
                                height={28}
                            />
                        </div>
                    </div>
                </TagsFilter>
            ))
        }
    </div>
</div>

<script></script>
